{% extends 'base.html' %}

{% block content %}

    <div id="invoice">
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col">
                            <a target="_blank" href="https://lobianijs.com">
                                <h3>SB Finance</h3>
                                </a>
                        </div>
                        <div class="col company-details">
                            <div>123, Fort Jesus, KE</div>
                            <div>123-80100</div>
                            <div>sbfinance@finance.com</div>
                        </div>
                    </div>
                </header>
                <main>
                    <div class="row contacts">
                        {% for invoice in invoices %}
                            <div class="col invoice-to">
                                <div class="text-gray-light">INVOICE TO:</div>
                                <h2 class="to">{{ invoice.customer.first_name}} {{ invoice.customer.last_name}}</h2>
                                <div class="address">{{ invoice.customer.street}}, {{ invoice.customer.city}}, {{ invoice.customer.country}}</div>
                                <div class="email"><a href="mailto:john@example.com">john@example.com</a></div>
                            </div>
                            <div class="col invoice-details">
                                <h1 class="invoice-id">INVOICE {{ invoice.invoice_no}}</h1>
                                <div class="date">Date of Invoice: {{ invoice.created_at}}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-left">DESCRIPTION</th>
                                <th class="text-right">QUANTITY</th>
                                <th class="text-right">RATE</th>
                                <th class="text-right">AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in invoices %}
                                <tr>
                                    <td class="no">{{ invoice.id }}</td>
                                    <td class="text-left"><h3>#</td>
                                    <td class="unit">#</td>
                                    <td class="qty">#</td>
                                    <td class="total">{{ invoice.Amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            {% for invoice in invoices %}
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">SUBTOTAL</td>
                                    <td>{{invoice.Amount}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">TAX 25%</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">GRAND TOTAL</td>
                                    <td>$6,500.00</td>
                                </tr>
                            {% endfor %}
                        </tfoot>
                    </table>
                    <div class="thanks">Thank you!</div>
                </main>
                <footer>
                    SB_finance project.
                </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>

{% endblock %}